<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Creating-Functions" data-toc-modified-id="Creating-Functions-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creating Functions</a></span></li><li><span><a href="#Calling-Functions" data-toc-modified-id="Calling-Functions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Calling Functions</a></span></li><li><span><a href="#Default-Argument-Values" data-toc-modified-id="Default-Argument-Values-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Default Argument Values</a></span></li></ul></li><li><span><a href="#Lists" data-toc-modified-id="Lists-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#List-Methods" data-toc-modified-id="List-Methods-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>List Methods</a></span></li></ul></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionaries</a></span><ul class="toc-item"><li><span><a href="#Dictionary-Methods" data-toc-modified-id="Dictionary-Methods-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Dictionary Methods</a></span></li></ul></li><li><span><a href="#Nesting" data-toc-modified-id="Nesting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Nesting</a></span><ul class="toc-item"><li><span><a href="#Nested-Structures" data-toc-modified-id="Nested-Structures-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Nested Structures</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#List-and-Dictionary-Comprehensions" data-toc-modified-id="List-and-Dictionary-Comprehensions-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>List and Dictionary Comprehensions</a></span><ul class="toc-item"><li><span><a href="#List-Comprehension" data-toc-modified-id="List-Comprehension-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>List Comprehension</a></span><ul class="toc-item"><li><span><a href="#Another-List-Comprehension-Example" data-toc-modified-id="Another-List-Comprehension-Example-6.1.1"><span class="toc-item-num">6.1.1&nbsp;&nbsp;</span>Another List Comprehension Example</a></span></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6.1.2"><span class="toc-item-num">6.1.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li><li><span><a href="#Dictionary-Comprehension" data-toc-modified-id="Dictionary-Comprehension-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Dictionary Comprehension</a></span><ul class="toc-item"><li><span><a href="#zip" data-toc-modified-id="zip-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span><code>zip</code></a></span><ul class="toc-item"><li><span><a href="#Dictionary-Comprehension-Using-zip" data-toc-modified-id="Dictionary-Comprehension-Using-zip-6.2.1.1"><span class="toc-item-num">6.2.1.1&nbsp;&nbsp;</span>Dictionary Comprehension Using <code>zip</code></a></span></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Exercises</a></span></li></ul></li></ul></li><li><span><a href="#More-Exercises" data-toc-modified-id="More-Exercises-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>More Exercises</a></span></li></ul></div>

In [ ]:
# No imports today

# Objectives

- Write functions to transform data
- Construct list and dictionary comprehensions
- Extract data from nested data structures

# Functions

This aspect of Python is _incredibly_ useful! Writing your own functions can save you a TON of work - by _automating_ it.

## Creating Functions

The first line will read:

```python

'def' function_name() ':'

```

Any arguments to the function will go in the parentheses.

Let's try building a function that will automate the task of finding how many times a given number can be evenly divided by 2.

In [11]:
# Let's code it!

def two_divide(num):
    div_num = num // 2
    return (div_num)

# or
# def two_divide(num):
#     return (num // 2)

## Calling Functions

To _call_ a function, simply type its name, along with any necessary arguments in parentheses.

In [14]:
# Let's call it!

two_divide(8)

4

## Default Argument Values

Sometimes we'll want the argument(s) of our function to have default values.

In [15]:
def cheers(person='aaron', job='data scientist', age=30):
    return f'Hooray for {person}. You\'re a {job} and you\'re {age}!'

In [16]:
cheers('greg', 'scientist', 130)

"Hooray for greg. You're a scientist and you're 130!"

In [17]:
cheers(job='scientist', age=130, person='greg')

"Hooray for greg. You're a scientist and you're 130!"

In [18]:
cheers('cristian', 'git enthusiast')

"Hooray for cristian. You're a git enthusiast and you're 30!"

In [19]:
cheers()

"Hooray for aaron. You're a data scientist and you're 30!"

# Lists

## List Methods

Make sure you're comfortable with the following list methods:

- `.append()`: adds the input element to the end of a list
- `.pop()`: removes and returns the element with input index from the list
- `.extend()`: adds the elements in the input iterable to the end of a list
- `.index()`: returns the first place in a list where the argument is found
- `.remove()`: removes element by value
- `.count()`: returns the number of occurrences of the input element in a list

In [72]:
test_list = list(range(1,11))

In [73]:
test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
# access individual elements / zero indexed

# list_name[index_value]

test_list[1]

2

In [75]:
# slicing from start to end, first inclusive, second exclusive

test_list[1:4]

[2, 3, 4]

In [76]:
#slice from start, include first four values

test_list[:4]

[1, 2, 3, 4]

In [77]:
#slice from given index to end

test_list[4:]

[5, 6, 7, 8, 9, 10]

In [50]:
# append

test_list.append(11)

test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [51]:
# pop

test_list.pop(10)

11

In [52]:
test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
#create more numbers
additional_nums = list(range(9,15))
additional_nums

[9, 10, 11, 12, 13, 14]

In [54]:
# extend
test_list.extend(additional_nums)
test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 10, 11, 12, 13, 14]

In [55]:
# index
test_list.index(2)

1

In [56]:
#remove

test_list.remove(14)

test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 10, 11, 12, 13]

In [57]:
# count

test_list.count(9)

2

In [58]:
# loop over list

for num in test_list:
    print(num)

1
2
3
4
5
6
7
8
9
10
9
10
11
12
13

In [60]:
# enumerate

for i, num in enumerate(test_list):
    print(f'Index {i} has value {num}')

Index 0 has value 1
Index 1 has value 2
Index 2 has value 3
Index 3 has value 4
Index 4 has value 5
Index 5 has value 6
Index 6 has value 7
Index 7 has value 8
Index 8 has value 9
Index 9 has value 10
Index 10 has value 9
Index 11 has value 10
Index 12 has value 11
Index 13 has value 12
Index 14 has value 13

In [61]:
# multiple data types
alpha_list = ['a','b','c','d']

test_list.extend(alpha_list)

In [62]:
test_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 10, 11, 12, 13, 'a', 'b', 'c', 'd']

In [63]:
test_list.append(alpha_list)
test_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 9,
 10,
 11,
 12,
 13,
 'a',
 'b',
 'c',
 'd',
 ['a', 'b', 'c', 'd']]

In [64]:
for i, num in enumerate(test_list):
    print(f'Index {i} has value {num} of datatype {type(num)}')

Index 0 has value 1 of datatype <class 'int'>
Index 1 has value 2 of datatype <class 'int'>
Index 2 has value 3 of datatype <class 'int'>
Index 3 has value 4 of datatype <class 'int'>
Index 4 has value 5 of datatype <class 'int'>
Index 5 has value 6 of datatype <class 'int'>
Index 6 has value 7 of datatype <class 'int'>
Index 7 has value 8 of datatype <class 'int'>
Index 8 has value 9 of datatype <class 'int'>
Index 9 has value 10 of datatype <class 'int'>
Index 10 has value 9 of datatype <class 'int'>
Index 11 has value 10 of datatype <class 'int'>
Index 12 has value 11 of datatype <class 'int'>
Index 13 has value 12 of datatype <class 'int'>
Index 14 has value 13 of datatype <class 'int'>
Index 15 has value a of datatype <class 'str'>
Index 16 has value b of datatype <class 'str'>
Index 17 has value c of datatype <class 'str'>
Index 18 has value d of datatype <class 'str'>
Index 19 has value ['a', 'b', 'c', 'd'] of datatype <class 'list'>

In [67]:
test_list[19]

['a', 'b', 'c', 'd']

In [68]:
test_list[19][2]

'c'

# Dictionaries

## Dictionary Methods

Make sure you're comfortable with the following dictionary methods:

- `.keys()`: returns an array of the dictionary's keys
- `.values()`: returns an array of the dictionary's values
- `.items()`: returns an array of key-value tuples

In [120]:
prac_dict = {
    'name' : 'David',
    'sport' : 'soccer',
    'team' : 'Seattle Sounders',
    
    'name' :'Ben',
    'sport' : 'scuba',
    'team' : 'Flounders',
}

prac_dict

{'name': 'Ben', 'sport': 'scuba', 'team': 'Flounders'}

In [121]:
prac_dict.keys()

dict_keys(['name', 'sport', 'team'])

In [122]:
prac_dict.values()

dict_values(['Ben', 'scuba', 'Flounders'])

In [123]:
prac_dict.items()

dict_items([('name', 'Ben'), ('sport', 'scuba'), ('team', 'Flounders')])

In [124]:
prac_dict['name']

'Ben'

In [125]:
prac_dict[0]

KeyError: 0

In [126]:
prac_dict['name'] = 'Lindsey'

prac_dict

{'name': 'Lindsey', 'sport': 'scuba', 'team': 'Flounders'}

# Nesting

## Nested Structures

It will be well worth your while to practice accessing data in complex structures. Consider the following:

In [127]:
customers = {
    'bill': {'purchases': {'movies': ['Terminator', 'Elf'],'books': []}, 'id': 1},
    
    'dolph': {'purchases': {'movies': ['It Happened One Night'],
                     'books': ['The Far Side Gallery']}, 'id': 2},
    
    'pat': {'purchases': {'movies': [],
                   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
                   'id': 3}
}

In [128]:
customers

{'bill': {'purchases': {'movies': ['Terminator', 'Elf'], 'books': []},
  'id': 1},
 'dolph': {'purchases': {'movies': ['It Happened One Night'],
   'books': ['The Far Side Gallery']},
  'id': 2},
 'pat': {'purchases': {'movies': [],
   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
  'id': 3}}

**Q**: How would we access 'I Am a Bunny'?
<br/>
**A**: The outermost "layer" has a name: 'customers', and that object is a dictionary:
<br/>
`customers`
<br/>
The key we are interested in is 'pat', since that's where 'I Am a Bunny' is located:
<br/>
`customers['pat']`
<br/>
The value corresponding to the key 'pat' is also a dictionary, and in this "lower-down" dictionary, the key we are interested in is 'purchases':
<br/>
`customers['pat']['purchases']`
<br/>
The value corresponding to the key 'purchases' is yet another dictionary, and here the key of interest is `books`:
<br/>
`customers['pat']['purchases']['books']`
<br/>
The value corresponding to the key 'books' is a list, and 'I Am a Bunny' is the second element in that list:
<br/>
`customers['pat']['purchases']['books'][1]`

In [131]:
customers['pat']

{'purchases': {'movies': [],
  'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
 'id': 3}

In [132]:
customers['pat']['purchases']

{'movies': [], 'books': ['Seinfeld and Philosophy', 'I Am a Bunny']}

In [133]:
customers['pat']['purchases']['books']

['Seinfeld and Philosophy', 'I Am a Bunny']

In [134]:
customers['pat']['purchases']['books'][1]

'I Am a Bunny'

In [135]:
cust_name = 'pat'
purchase_type = 'books'

In [136]:
customers[cust_name]['purchases'][purchase_type][1]

'I Am a Bunny'

In [155]:
# Function Example

def num_purchases(history, name, purch_type):
    '''
    Returns the number of purchases for the given type for the given customer
    '''

    num_purch = len(history[name]['purchases'][purch_type])
    
    return (num_purch)

In [156]:
num_purchases(customers, 'pat','movies')

0

In [157]:
num_purchases(customers, 'bill','movies')

2

## Exercises

1. From the list below, make a list of dictionaries where the key is the person's name and the value is the person's home phone number.

In [158]:
phone_nos = [{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
          {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
            {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
            {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
            {'name': 'sean', 'nums': {'home': 9999999, 'work': 8888888}}]

In [166]:
new_phone = {}
for entry in phone_nos:
    
    new_phone[entry['name']] = entry['nums']['home']

greg 1234567
max 9876543
erin 3333333
joél 2222222
sean 9999999

In [167]:
new_phone

{'greg': 1234567,
 'max': 9876543,
 'erin': 3333333,
 'joél': 2222222,
 'sean': 9999999}

2. From the customers dictionary above, build a dictionary where the customers' names are the keys and the movies they've bought are the values.

# List and Dictionary Comprehensions

## List Comprehension

List comprehension is a handy way of generating a new list from existing iterables.

Suppose I start with a simple list.

In [1]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]

What I want now to do is to build a new list that comprises doubles of primes. I can do this with list comprehension!

The syntax is: `[ f(x) for x in <iterable>]`

In [2]:
prime_doubles = [x*2 for x in primes]
prime_triples = [x*3 for x in primes]

In [3]:
prime_doubles

[4, 6, 10, 14, 22, 26, 34, 38]

In [5]:
prime_triples

[6, 9, 15, 21, 33, 39, 51, 57]

In [83]:
comp_test = list(range(1,21))
comp_test

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

What if I want to have a conditional?

The syntax is: `[ f(x) for x in <iterable> if condition]`

In [95]:
# Conditional comprehension

odd = [num for num in comp_test if (num % 2) != 0]

odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

What if I want to do an if/else?

The syntax is: `[ f(x) if conditional else g(x) for x in <iterable>]`

In [168]:
# if-else comprehension

even_odd = ['even' if (x % 2 == 0) else 'odd' for x in comp_test]

even_odd

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

##### Aside: List Comprehensions Vs. `for`-Loops

Yes, I could do the same work with for-loops:

In [6]:
# simple

prime_doubles2 = []
for prime in primes:
    prime_doubles2.append(prime*2)
prime_doubles2

[4, 6, 10, 14, 22, 26, 34, 38]

In [8]:
prime_doubles == prime_doubles2

True

In [91]:
# conditional

odd2 = []
for num in comp_test:
    if num % 2 != 0:\
        odd2.append(num)
        
odd2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [92]:
odd == odd2

True

In [169]:
# if-else
 
even_odd2 = []

for num in comp_test:
    if num% 2 == 0:
        even_odd2.append('even')
    else:
        even_odd2.append('odd')

In [170]:
even_odd == even_odd2

True

But list comprehensions are more efficient: The syntax is simpler, and they're also faster. Also, you'll see them in other people's code, so you'll have to know how to work with them!

### Another List Comprehension Example

I can use list comprehension to build a list from objects other than lists:

In [99]:
names = ('Alan Turing', 'Charles Babbage', 'Ada Lovelace',
        'Anita Borg', 'Steve Wozniak', 'Andrew Ng')

splits = [name.split() for name in names]
splits

[['Alan', 'Turing'],
 ['Charles', 'Babbage'],
 ['Ada', 'Lovelace'],
 ['Anita', 'Borg'],
 ['Steve', 'Wozniak'],
 ['Andrew', 'Ng']]

In [100]:
[name1[0]+'. '+name2[0]+'.' for (name1, name2) in splits]

['A. T.', 'C. B.', 'A. L.', 'A. B.', 'S. W.', 'A. N.']

In [101]:
# Nested Comps!

[name1[0]+'. '+name2[0]+'.' for (name1, name2) in [name.split() for name in names]]

['A. T.', 'C. B.', 'A. L.', 'A. B.', 'S. W.', 'A. N.']

### Exercises

1. Use a list comprehension to extract the odd numbers from this set:

In [173]:
nums = set(range(1000))

In [174]:
odd_nums = [x for x in nums if x % 2 != 0]

odd_nums

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147,
 149,
 151,
 153,
 155,
 157,
 159,
 161,
 163,
 165,
 167,
 169,
 171,
 173,
 175,
 177,
 179,
 181,
 183,
 185,
 187,
 189,
 191,
 193,
 195,
 197,
 199,
 201,
 203,
 205,
 207,
 209,
 211,
 213,
 215,
 217,
 219,
 221,
 223,
 225,
 227,
 229,
 231,
 233,
 235,
 237,
 239,
 241,
 243,
 245,
 247,
 249,
 251,
 253,
 255,
 257,
 259,
 261,
 263,
 265,
 267,
 269,
 271,
 273,
 275,
 277,
 279,
 281,
 283,
 285,
 287,
 289,
 291,
 293,
 295,
 297,
 299,
 301,
 303,
 305,
 307,
 309,
 311,
 313,
 315,
 317,
 319,
 321,
 323,
 325,
 327,
 329,
 331,
 333,
 335,
 337,
 339,
 341,
 343,
 345,
 347,
 349,
 351,
 353,
 355,
 357,
 359,
 361,
 363,
 365,
 367,
 369,
 371,
 373,
 375,
 377,
 379,
 381,
 383,
 385,
 387,
 389,
 391,
 393,
 395,
 397,
 399,
 401,
 403,
 405,
 407,
 409,
 411,
 413,
 415,
 417,
 419,
 421,
 423,
 425,
 427,
 429,
 431,
 433,
 435,
 437,
 439,
 441,
 443,
 445,
 447,
 449,
 451,
 453,
 455,
 457,
 459,
 461,
 463,
 465,
 467,
 469,
 471,
 473,
 475,
 477,
 479,
 481,
 483,
 485,
 487,
 489,
 491,
 493,
 495,
 497,
 499,
 501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549,
 551,
 553,
 555,
 557,
 559,
 561,
 563,
 565,
 567,
 569,
 571,
 573,
 575,
 577,
 579,
 581,
 583,
 585,
 587,
 589,
 591,
 593,
 595,
 597,
 599,
 601,
 603,
 605,
 607,
 609,
 611,
 613,
 615,
 617,
 619,
 621,
 623,
 625,
 627,
 629,
 631,
 633,
 635,
 637,
 639,
 641,
 643,
 645,
 647,
 649,
 651,
 653,
 655,
 657,
 659,
 661,
 663,
 665,
 667,
 669,
 671,
 673,
 675,
 677,
 679,
 681,
 683,
 685,
 687,
 689,
 691,
 693,
 695,
 697,
 699,
 701,
 703,
 705,
 707,
 709,
 711,
 713,
 715,
 717,
 719,
 721,
 723,
 725,
 727,
 729,
 731,
 733,
 735,
 737,
 739,
 741,
 743,
 745,
 747,
 749,
 751,
 753,
 755,
 757,
 759,
 761,
 763,
 765,
 767,
 769,
 771,
 773,
 775,
 777,
 779,
 781,
 783,
 785,
 787,
 789,
 791,
 793,
 795,
 797,
 799,
 801,
 803,
 805,
 807,
 809,
 811,
 813,
 815,
 817,
 819,
 821,
 823,
 825,
 827,
 829,
 831,
 833,
 835,
 837,
 839,
 841,
 843,
 845,
 847,
 849,
 851,
 853,
 855,
 857,
 859,
 861,
 863,
 865,
 867,
 869,
 871,
 873,
 875,
 877,
 879,
 881,
 883,
 885,
 887,
 889,
 891,
 893,
 895,
 897,
 899,
 901,
 903,
 905,
 907,
 909,
 911,
 913,
 915,
 917,
 919,
 921,
 923,
 925,
 927,
 929,
 931,
 933,
 935,
 937,
 939,
 941,
 943,
 945,
 947,
 949,
 951,
 953,
 955,
 957,
 959,
 961,
 963,
 965,
 967,
 969,
 971,
 973,
 975,
 977,
 979,
 981,
 983,
 985,
 987,
 989,
 991,
 993,
 995,
 997,
 999]

<details>
    <summary>Answer
    </summary>
    <code>[num for num in nums if num % 2 == 1]</code>
    </details>

2. Use a list comprehension to take the first character of each string from the following list of words.

In [176]:
words = ['carbon', 'osmium', 'mercury', 'potassium', 'rhenium', 'einsteinium',
        'hydrogen', 'erbium', 'nitrogen', 'sulfur', 'iodine', 'oxygen', 'niobium']

In [178]:
letter = [word[0] for word in words]

letter

['c', 'o', 'm', 'p', 'r', 'e', 'h', 'e', 'n', 's', 'i', 'o', 'n']

<details>
    <summary>Answer
    </summary>
    <code>[word[0] for word in words]</code>
    </details>

3. Use a list comprehension to build a list of all the names that start with 'R' from the following list. Add a '?' to the end of each name.

In [179]:
names = ['Randy', 'Robert', 'Alex', 'Ranjit', 'Charlie', 'Richard', 'Ravdeep',
        'Vimal', 'Wu', 'Nelson']

In [180]:
r_names = [name+'?' for name in names if name[0] == 'R']

r_names

['Randy?', 'Robert?', 'Ranjit?', 'Richard?', 'Ravdeep?']

<details>
<summary>Answer
    </summary>
    <code>[name+'?' for name in names if name[0] == 'R']</code>
    </details>

## Dictionary Comprehension

Much like list comprehension, I can use dictionary comprehension to build dictionaries from existing iterables.

In [181]:
my_dict = {'who': 'flatiron school', 'what': 'data science',
           'when': 'now', 'where': 'here', 'why': '$',
           'how': 'python'}

Remember that the `.items()` method will return a collection of doubles:

In [182]:
my_dict.items()

dict_items([('who', 'flatiron school'), ('what', 'data science'), ('when', 'now'), ('where', 'here'), ('why', '$'), ('how', 'python')])

So I can use a pair of variables to range over it:

In [183]:
{k: v + '!' for k, v in my_dict.items() if k.startswith('w')}

{'who': 'flatiron school!',
 'what': 'data science!',
 'when': 'now!',
 'where': 'here!',
 'why': '$!'}

The same thing works for any collections of doubles:

In [184]:
{k**2: v**2 for k, v in [(0, 1), (2, 3), (4, 5)]}

{0: 1, 4: 9, 16: 25}

### `zip`

Remember that `zip` is a handy way of pairing up two or more iterables:

In [185]:
dict(zip(range(5), ['apple', 'orange', 'banana', 'lime', 'blueberry']))

{0: 'apple', 1: 'orange', 2: 'banana', 3: 'lime', 4: 'blueberry'}

In [186]:
# Zipping multiple iterables together
tuple(zip(range(1, 5), 'a'*4, 'b'*4, 'c'*4, 'd'*4, 'e'*4))

((1, 'a', 'b', 'c', 'd', 'e'),
 (2, 'a', 'b', 'c', 'd', 'e'),
 (3, 'a', 'b', 'c', 'd', 'e'),
 (4, 'a', 'b', 'c', 'd', 'e'))

#### Dictionary Comprehension Using `zip`

In [187]:
{k: v for k, v in zip(range(5), range(0, 10, 2))}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [188]:
scores = [.858, .873, .868]
{'model' + str(j+1): scores[j] for j in range(3)}

{'model1': 0.858, 'model2': 0.873, 'model3': 0.868}

### Exercises

1. Use a dictionary comprehension to pair up the countries in the first list with their corresponding capitals in the second list:

In [189]:
list1 = ['USA', 'France', 'Canada', 'Thailand']
list2 = ['Washington', 'Paris', 'Ottawa', 'Bangkok']

In [194]:
{k:v for k,v in zip(list1,list2) }

{'USA': 'Washington',
 'France': 'Paris',
 'Canada': 'Ottawa',
 'Thailand': 'Bangkok'}

2. Use a dictionary comprehension to make each of the characters in the following list a key with the value 'fictional character'.

In [193]:
chars = ['Pinocchio', 'Gilgamesh', 'Kumar Patel', 'Toby Flenderson']

In [195]:
{k:'fictional character' for k in chars}

{'Pinocchio': 'fictional character',
 'Gilgamesh': 'fictional character',
 'Kumar Patel': 'fictional character',
 'Toby Flenderson': 'fictional character'}

Just as we can put lists and dictionaries inside of other lists and dictionaries, we can also put comprehensions inside of other comprehensions.

In [78]:
lists = [['morning', 'afternoon', 'night'], ['read', 'code', 'sleep']]

In [79]:
[[item[0] for item in small_list] for small_list in lists]

[['m', 'a', 'n'], ['r', 'c', 's']]

# More Exercises

1. Build a function that will return $2^n$ for an input $n$.

In [197]:
def exponent(num):
    return (2 ** num)

In [198]:
exponent(4)

16

2. Build a function that will take in a list of phone numbers as strings and return the same as integers, removing any parentheses ('(' and ')'), hyphens ('-'), and spaces.

In [271]:
def phone(phone_list):
    
    badchar = "()-"
    str_phone = []
    
    for phonenum in phone_list:
        str_num = ''
        for char in phonenum:
            if char not in badchar:
                str_num+=char
            
        str_phone.append(int(str_num))
    
                
#     str_phone = [int(pnum.replace('(','').replace(')','').replace('-','')) for pnum in phone_list ]       
    return((str_phone))

In [272]:
test = ['(503)-585-8999','(206-234-7547)']

In [273]:
phone(test)

[5035858999, 2062347547]

3. Build a function that returns the mode of a list of numbers.